<h1 style='text-align: center;'>Log In To Your Worker Account</h1>
<%= form_tag sessions_worker_path do %>
  <%= label_tag :name, 'Enter Name' %>
  <%= text_field_tag :name, params[:name] %>
  <br>
  <%= label_tag :password, 'Enter Your Password'%>
  <%= password_field_tag :password, nil %>
  <br>
  <%=submit_tag 'Log In To Your Worker Account' %>
  <br>
  <%= link_to "Create a worker account?", new_worker_path %>
<% end %>
