<div>
  <% if !logged_in_as_worker? && !logged_in_as_customer? %>
  <h1 style='text-align:center;'>Create A New Worker Account</h1>

    <%= form_for @worker do |f| %>
      <%= f.label :name, 'Enter Your Name', style: 'margin-right: 164px; font-size: 50px;' %>
      <%= f.text_field :name, style: 'height: 60px; width: 900px; border-radius: 12px;' %>
      <br>
      <%= f.label :availability, 'Set Current Availability', style: 'margin-right: 26px; font-size: 50px;'%>
      <%= f.text_field :availability, style: 'height: 60px; width: 900px; border-radius: 12px;' %>
      <br>
      <%= f.label :password, 'Choose a password', style: 'margin-right: 95px; font-size: 50px;'%>
      <%= f.password_field :password, style: 'height: 60px; width: 900px; border-radius: 12px;' %>
      <br>
      <%= f.label :password_confirmation, 'Confirm password', style: 'margin-right: 128px; font-size: 50px;' %>
      <%= f.password_field :password_confirmation, style: 'height: 60px; width: 900px; border-radius: 12px;' %>
      <br>
      <b><%= f.label :profile, 'Description:', style: 'text-align:center; margin-left: 567px; font-size: 50px;'%></b>
      <br>
      <%= f.text_area :profile, style: 'height: 60px; margin-left: 566px; width: 900px; border-radius: 12px;' %>
      <br>
      <br>
      <div style='margin-left: 567px; margin-top: 15px; font-size: 30px; font-family: "Times New Roman", Georgia, Serif;'>
      <%= f.submit %>
      <p style='display: inline-block; margin-left: 20px; border: 5px solid rgb(168, 162, 182); border-radius: 25px; padding: 5px;'>
      <%= link_to 'Cancel', customers_path %>
      </p>
    </div>
    <% end %>
    <% else %>
      <div>Log out to create a account</div>
  <% end %>

</div>
