<h1 style='text-align: center;'>Chore ID: <%= @chore.id %> Details Page</h1>
<div style='text-align: center;'>
  <h3>Chore Title: <%= @chore.chore_title %></h3>
  <h3>Chore Price: <%= @chore.price %></h3>
  <h3>Chore Worker Count: <%= @chore.worker_count %></h3>
  <% if @chore.order_id == nil %>
    <h3>No Order Associated with chore yet.</h3>
  <% else %>
    <h3>Chore Order ID: <%= link_to @chore.order_id, order_path(@chore.order) %></h3>
  <% end %>
  <%= link_to 'All Chores', chores_path %>
  <br>
  <%= link_to 'Edit Chore', edit_chore_path(@chore) %>
  <br>
  <%= link_to 'Delete This Chore', delete_chore_path(@chore), method: :delete, data: { confirm: 'Are you sure you want to delete this chore?'}%>
</div>
